@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=David+Libre&display=swap');

.topDiv {
    background-image: url(./image/coffee_cup_minimalism_120197_1280x720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;

}

#f2 {
    padding: 101px;
    margin-left: -805px;
    margin-top: -9px;
    font-size: xx-large;
    font-family: 'Cinzel Decorative', cursive;
}

#a1 {
    margin-top: -120px;
    margin-left: -818px;

    font-family: 'Edu VIC WA NT Beginner', cursive;
}

#a2 {
    padding: -9px;
    height: 100px;
    width: 714px;
    margin-left: 82px;
    font-family: 'David Libre', serif;

}

.a3 {
    height: 45%;
    width: 20%;
    margin-left: -806px;
    margin-top: -1%;
    border-radius: 1000px;

}

header nav {
    width: 1445px;
    float: right;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-top: 1px;
    background-color: rgb(41, 6, 6);
}

nav ul {
    margin-right: -15px;
    min-width: 450px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;

}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(41, 6, 6);

}

a:hover {
    color: rgb(48, 45, 42);
    background-color: white;
}

.row {
    background-color: rgb(41, 6, 6);
    height: 600px;
    margin-top: -18px;
}

.z1 {
    background-image: url(./image/focus-spotlight-effect-display-warm-color_1017-25845.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 666px;
    text-align: center;
}

#a4 {
    padding: 212px;
    color: white;
    margin-left: -23px;
    font-size: xx-large;
}

#a5 {
    padding: -4pxpx;
    height: 100px;
    color: white;
    margin-top: -14%;
    text-align: center;

}

.a6 {
    height: 290px;
    width: 20%;
    margin-left: -996px;
    margin-top: -8%;
    border-radius: 0px;
}

.z2 {
    height: 300px;
    width: 100%;
    margin-top: -20px;

}

.a7 {
    height: 288px;
    width: 20%;
    margin-left: 75%;
    border-radius: 0px;
    display: flex;
    margin-top: -20%;

}

.z3 {
    height: 10px;
    width: 100%;
    margin-top: -50px;
}

video {
    height: 322px;
    width: 100%;
    top: 0;
    margin-top: -20%;

    margin-left: -1px;
}

.z4 {
    height: 300px;
    width: 100%;
    margin-top: -20px;

    background-color: rgb(41, 6, 6);
}

#a8 {
    height: 421px;
    width: 33%;
    margin-left: 67%;

    display: flex;
    margin-top: 6%
}

#a9 {
    height: 418px;
    width: 33%;
    margin-left: 0%;

    display: flex;
    margin-top: -421px;
}

.z5 {

    margin-top: -318px;
}

ul {
    margin-left: 615px;
    color: white;

}

#a10 {
    text-align: center;
    color: white;
}

#a11 {
    text-align: center;

    height: 225px;
    width: 485px;
    margin-left: 473px;
    background-color: rgb(41, 6, 6);
    color: white;
    margin-top: -14px;
}


.white {

    background-image: url(./image/white_background_dents_bumps_texture_69592_300x168.jpg);
    margin-top: -22px;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
}

.r1 {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -137px;
}

.col {
    width: 300px;
    height: 425px;
    margin-top: 233px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

img {
    height: 50%;
    width: 100%;
    border-radius: 0px;
}

.par1 {
    color: black;
}

.img9 {
    color: black;
    text-align: center;
}

h4 {
    color: green;
}

#bt1 {
    border-radius: 10px;
    background-color: brown;
    color: white;
    margin-left: 40%;
}

#bt1:hover {
    background-color: white;
    color: rgb(161, 37, 37);
}

.head1 {
    text-align: center;
    font-size: xx-large;
    margin-top: 23px;
    display: flex;
    text-align: center;


}

#b1 {
    text-align: center;
    margin-left: 543px;
    margin-top: 100px;
}

h4 {
    text-align: center;
}

.foot {
    background-image: url(./photo/footer2.webp);
    margin-top: -20px;
    background-repeat: no-repeat;
    width: 100%;
    height: 305px;
    background-size: cover;
}

#b3 {
    color: rgb(247, 237, 237);
    margin-left: 1%;
    margin-top: 16px;
    padding: 4%;


}

#b4 {
    background-color: rgb(212, 125, 18);
    color: rgb(247, 242, 242);
    height: 4%;
    margin-left: 66px;
    margin-top: -54px;
    display: flex;


}

#b4:hover {
    background-color: rgb(247, 242, 242);
    color: rgb(48, 45, 42);

}


.c1 {
    height: auto;
    margin-top: -16px;
    margin-left: 0%;
    background-image: url(./image/coffee_coffee_bean_grains_164330_3840x2160.jpg);
}

#b5 {
    height: 40%;
    width: 14%;
    margin-top: -289px;
    margin-left: 747px;
    display: flex;

}

.c3 {
    color: white;
    margin-left: 80%;
    margin-top: -150px;
    height: 4%;
}

.p8 {
    height: 353px;
    margin-left: 0%;
    background-color: black;
    margin-top: -357px;
}

.w8 {
    height: auto;
    margin-left: 50%;
}

#vid3 {
    height: 400px;
    width: 300px;
    margin-top: 50%;
    margin-left: -21%;
    display: flex;
}